# In all doctor list edit button not working on page 2
 of all the listed doctors
Special case:
# suppose when I manually add a slot like 10 am to 10:15 am and then I click auto generate 15 minutes slot button, it will generate slots from 9 am 

# Suppose I create a doctor with doctor code "abcd" and then I delete that doctor. Aftermath I create another doctor with same doctor code and the system can't create the doctor 
